/**
 * Created with JetBrains PhpStorm.
 * User: nanashiRei
 * Date: 05.12.12
 * Time: 06:40
 * Configuration
 * @module configuration
 */
module.exports = {
    server: "irc.yas-online.net",
    nickname: "ShoutBox",
    nickserv: {
        enabled: flase,
        password: ""
    },
    clientConfig: {
        userName: 'sb-relay',
        realName: 'ShoutBox Relay',
        port: 6697,
        debug: true,
        showErrors: true,
        autoRejoin: true,
        autoConnect: true,
        channels: [],
        secure: true,
        selfSigned: true,
        certExpired: false,
        floodProtection: false,
        floodProtectionDelay: 1000,
        stripColors: false
    },
    dbConfig: {
        user: "user",
        password: "password",
        database: "database",
        driver: "mysql",
        host: "localhost",
        port: 3306
    }
};
